<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        tr,
        td {
            border: 1px solid black;
        }

        .price {
            padding: 5px 10px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="mainCoin">
        <h1>비트코인</h1>
        <div><span class="price"></span></div>
    </div>
    <table>
        <thead>
            <th>코인명</th>
            <th>English</th>
            <th>유의종목 여부</th>
            <th>코인이름</th>
        </thead>
        <tbody>
            {% for list in lists %}
            <tr>
                <td>{{list.korean_name}}</td>
                <td>{{list.english_name}}</td>
                <td>{{list.market_warning}}</td>
                <td>{{list.market}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const price = document.querySelector('.price');
        const dayCandleUrl = 'https://api.upbit.com/v1/candles/days?count=1';
        const option = { headers: { Accept: 'application/json' } };

        const getLastDay = () => {
            let date = new Date();
            let year = date.getFullYear();
            let month = ("0" + (1 + date.getMonth())).slice(-2);
            let day = ("0" + (date.getDate())).slice(-2) - 1;
            console.log(("0" + (date.getDate())))

            return year + "-" + month + "-" + day + 'T00:00:00.000Z';
        }
        const get_target_price = async (market = 'KRW-BTC') => { // 목표가 얻기
            try {
                const time = getLastDay();
                // const { data } = await axios.get(`https://api.upbit.com/v1/candles/days?market=${market}&to=${startTime}`);                                
                console.log(time)
                const price = await axios.get(`https://api.upbit.com/v1/candles/days?market=${market}&to=${time}&count=1`);
                const currentPrice = await axios.get(`https://api.upbit.com/v1/candles/days?market=${market}&count=1`);
                let changeWidth = currentPrice.data[0].opening_price + Math.abs(price.data[0].high_price - price.data[0].low_price) * 0.5;
                console.log(changeWidth)


                console.log(prices)
            } catch (err) {
                console.log(err);
            }
        };
        get_target_price();
        let prices = [];
        const getCurrentPrice = async () => {
            try {
                const result = await axios.get('https://api.upbit.com/v1/ticker?markets=KRW-BTC');

                const { trade_price, change } = result.data[0];
                const tradeUrl = await axios.get('https://api.upbit.com/v1/trades/ticks?market=KRW-BTC');
                const { ask_bid } = tradeUrl.data[0];
                switch (ask_bid) {
                    case 'BID':
                        price.style.color = 'red';
                        break;
                    case 'ASK':
                        price.style.color = 'blue';
                        break;
                }
                // price.innerHTML = trade_price;
            } catch (err) {
                console.log(err)
            }

        }
        const exec = async () => {
            await setInterval(getCurrentPrice, 500);
        }
        // setInterval(getCurrentPrice, 1000);
        exec();
        let socket = new WebSocket('wss://api.upbit.com/websocket/v1');
        socket.binaryType = 'arraybuffer';

        socket.onopen = (e) => {
            console.log('connection success');
            socket.send('[{"ticket":"test"},{"type":"ticker","codes":["KRW-XRP"]}]',);
        }

        socket.onmessage = (e) => {
            let data = new Uint8Array(e.data);
            // console.log(data);
            // console.log(new TextDecoder().decode(data));
            let jsonData = JSON.parse(new TextDecoder().decode(data));
            console.log(jsonData)
            price.innerHTML = jsonData.trade_price;
        }

        setTimeout(() => {
            socket.close();
            console.log('sockect closed')
        }, 5000)

    </script>
</body>

</html>